<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/shop.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Amazon</title>
</head>
<body>
    <!-- flash sale section start -->

    <section class="top" id="flash-sale">
        <div class="navbar">
            <div class="name">
                <div class="logo">
                    <div class="logo-content">
                        <i class="fa fa-amazon" aria-hidden="true"></i>
                        <div class="logo-name"><p>Amazon</p></div>
                    </div>
                    <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
                </div>
            </div>
            <div class="search">
                <form action="">
                    <input type="search" class="item" name="item" id="item" placeholder="Search for items brand and categories">
                    <input class="submit"type="submit" value="Search" name="item">
                </form>
            </div>
           <div class="content">
                <div class="account">
                    <a href="">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        <p>Account</p>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                        
                    </a>
                </div>
                <div class="cart">
                    <a href="/cart/">
                        <p>Cart</p>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="help">
                    <a href="/logout">
                        <p>Log Out</p>
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </div>
                
           </div>
        </div>

        
    </section>

    <!-- first section start -->
    <section class="first">
        <div class="first-content">
            <div class="left">
                <div class="left-content">
                    <ul class="left-list">
                        <li>
                            <a href="">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                <span class="link-name">Supermarket</span>
                            </a>
                            <!-- <span class="tooltip">Dashboard</span> -->
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="link-name">Health & Beuty</span>
                            </a>
                            <!-- <span class="tooltip">Dashboard</span> -->
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-commenting" aria-hidden="true"></i>
                                <span class="link-name">Home & Office</span>
                            </a>
                            <!-- <span class="tooltip">Dashboard</span> -->
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <span class="link-name">Phones & Tablets</span>
                            </a>
                            <!-- <span class="tooltip">Dashboard</span> -->
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-desktop" aria-hidden="true"></i>
                                <span class="link-name">Computing</span>
                            </a>
                            <!-- <span class="tooltip">Dashboard</span> -->
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-camera" aria-hidden="true"></i>
                                <span class="link-name">Fashion</span>
                            </a>
                            <!-- <span class="tooltip">Dashboard</span> -->
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-audio-description" aria-hidden="true"></i>
                                <span class="link-name">Electronics</span>
                            </a>
                            <!-- <span class="tooltip">Dashboard</span> -->
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-cubes" aria-hidden="true"></i>
                                <span class="link-name">Gaming</span>
                            </a>
                            <!-- <span class="tooltip">Dashboard</span> -->
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-child" aria-hidden="true"></i>
                                <span class="link-name">Baby Products</span>
                            </a>
                            <!-- <span class="tooltip">Dashboard</span> -->
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-bicycle" aria-hidden="true"></i>
                                <span class="link-name">Sporting Goods</span>
                            </a>
                            <!-- <span class="tooltip">Dashboard</span> -->
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-binoculars" aria-hidden="true"></i>
                                <span class="link-name">Garden & Outdoor</span>
                            </a>
                            <!-- <span class="tooltip">Dashboard</span> -->
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-modx" aria-hidden="true"></i>
                                <span class="link-name">Other Categories</span>
                            </a>
                            <!-- <span class="tooltip">Dashboard</span> -->
                        </li>
                        
                    </ul>
                </div>
            </div>
    
            <div class="center">
                <div class="center-content">
                    <img src="../static/images/center.gif" alt="">
    
                </div>
            </div>
    
            <div class="right">
                <div class="right1">
                    <div class="help">
                        <img src="../static/images/Webp.net-resizeimage-(1).png" alt="">
                        <div class="description">
                            <h4>HELP CENTER</h4>
                            <p>Customer care</p>
                        </div>
                    </div>
                    <div class="help">
                        <img src="../static/images/icone-2-return.png" alt="">
                        <div class="description">
                            <h4>EASY RETURN</h4>
                            <p>Quick refund</p>
                        </div>
                    </div>
                    <div class="help">
                        <img src="../static/images/icone-2-payment.png" alt="">
                        <div class="description">
                            <h4>SELL ON AMAZON</h4>
                            <p>FBA program</p>
                        </div>
                    </div>
    
                </div>
                <div class="right2">
                    <img src="../static/images/right2.gif" alt="">
    
                </div>
            </div>

        </div>
        <div class="first-content2">
            <div class="button">
                <img src="../static/images/KE_TW_Quicklink_0322.png" alt="">
                <h3>Tech Week</h3>

            </div>
            <div class="button">
                <img src="../static/images/FreeDelivery.png" alt="">
                <h3>Free delivery</h3>

            </div>
            <div class="button">
                <img src="../static/images/ICONE_FOOD-.png" alt="">
                <h3>Amazon food</h3>

            </div>
            <div class="button">
                <img src="../static/images/JumiaOne_2.png" alt="">
                <h3>Airtime & Bills</h3>
            </div>
        </div>

    <!-- flash sales section start -->
    <section class="flash-sales" id="flash-sales">
        <div class="flash-sales-top">
            <i class="fa fa-bolt" aria-hidden="true"></i>
            <p>Flash sales</p>
            <a href="">SEE ALL
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
            
        </div>
        <div class="flash-sales-content">
            <div class="item">
                <img src="../static/images/1.jpg" alt="">
                <div class="text">
                    <div class="text-content">
                        <h4>{{items_list[0].name}}</h4>
                        <p class="current">Ksh {{items_list[0].current_price}}</p>
                        <strike class="previous">Ksh {{items_list[0].previous_price}}</strike>
                    </div>
                    <div class="add-cart">
                        <a href="/addtocart/{{items_list[0].id}}">Add</a>
                    </div>
                    
                </div>
                <div class="items-left">
                    <div class="remaining"><span id="remaining">{{items_list[0].remaining}}</span> items left</div>
                    <div class="bar">
                        <div class="line item1"></div>
                    </div>
                </div>
                
            </div>
            <div class="item">
                <img src="../static/images/1 (1).jpg" alt="">
                <div class="text">
                    <div class="text-content">
                        <h4>{{items_list[1].name}}</h4>
                        <p class="current">Ksh {{items_list[1].current_price}}</p>
                        <strike class="previous">Ksh {{items_list[1].previous_price}}</strike>
                    </div>
                    <div class="add-cart">
                        <a href="/addtocart/{{items_list[1].id}}">Add</a>
                    </div>

                </div>
                <div class="items-left">
                    <div class="remaining"><span id="remaining">{{items_list[1].remaining}}</span> items left</div>
                    <div class="bar">
                        <div class="line item2"></div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../static/images/1 (2).jpg" alt="">
                <div class="text">
                    <div class="text-content">
                        <h4>{{items_list[2].name}}</h4>
                        <p class="current">Ksh {{items_list[2].current_price}}</p>
                        <strike class="previous">Ksh {{items_list[2].previous_price}}</strike>
                    </div>
                    <div class="add-cart">
                        <a href="/addtocart/{{items_list[2].id}}">Add</a>
                    </div>
                    
                </div>
                <div class="items-left">
                    <div class="remaining"><span id="remaining">{{items_list[2].remaining}}</span> items left</div>
                    <div class="bar">
                        <div class="line item3"></div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../static/images/1 (3).jpg" alt="">
                <div class="text">
                    <div class="text-content">
                        <h4>{{items_list[3].name}}</h4>
                        <p class="current">Ksh {{items_list[3].current_price}}</p>
                        <strike class="previous">Ksh {{items_list[3].previous_price}}</strike>
                    </div>
                    <div class="add-cart">
                        <a href="/addtocart/{{items_list[3].id}}">Add</a>
                    </div>
                    
                </div>
                <div class="items-left">
                    <div class="remaining"><span id="remaining" >{{items_list[3].remaining}}</span> items left</div>
                    <div class="bar">
                        <div class="line item4"></div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../static/images/1 (7).jpg" alt="">
                <div class="text">
                    <div class="text-content">
                        <h4>{{items_list[4].name}}</h4>
                        <p class="current">Ksh {{items_list[4].current_price}}</p>
                        <strike class="previous">Ksh {{items_list[4].previous_price}}</strike>
                    </div>
                    <div class="add-cart">
                        <a href="/addtocart/{{items_list[4].id}}">Add</a>
                    </div>
                    
                </div>
                <div class="items-left">
                    <div class="remaining"><span id="remaining">{{items_list[4].remaining}}</span> items left</div>
                    <div class="bar">
                        <div class="line item5"></div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../static/images/1 (4).jpg" alt="">
                <div class="text">
                    <div class="text-content">
                        <h4>{{items_list[5].name}}</h4>
                        <p class="current">Ksh {{items_list[5].current_price}}</p>
                        <strike class="previous">Ksh {{items_list[5].previous_price}}</strike>
                    </div>
                    <div class="add-cart">
                        <a href="/addtocart/{{items_list[5].id}}">Add</a>
                    </div>
                    
                </div>
                <div class="items-left">
                    <div class="remaining"><span id="remaining">{{items_list[5].remaining}}</span> items left</div>
                    <div class="bar">
                        <div class="line item6"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </section>

   
    
</body>
</html>