{% extends 'base.html' %}

{% block head %}

<title>Sign up</title>

{% endblock %}

{% block body %}
 <!-- sign up start -->
 <section class="base" id="base-signup">
     {% for message in get_flashed_messages() %}

        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    <div class="base-content">
        <div class="form">
            <h3>Create an account<br>to shop</h3>
            <hr class="first">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="email"><h4>Email Address</h4>{{form.email()}}<hr></div>
                <div class="name"><h4>User Name</h4>{{form.username}}<hr></div>
                <div class="password"><h4>Password</h4>{{form.password1}}<hr></div>
                <div class="password"><h4>Confirm password</h4>{{form.password2}}<hr></div>
                <div class="buttons">
                    <a href="/">Log in</a>
                    {{form.submit()}}
                </div>

            </form>
        </div>
    </div>
</section>

{% endblock %}
